body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

.description {
  font-style: italic;
  text-align: justify;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.8;
}
